*{
    margin: 0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5vw 0;
}

.right ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.right ul a {
    text-decoration: none;
    color: black;

}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: .9vw;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    margin: 4vw 0;
}

.first span{
    font-size: 40px;
}

.first p{
    font-size: 16px;
    width: 47vw;
    text-align: center;

}

#bold{
    font-weight: 700;
}


.first button{
    border: none;
    padding: .8vw 1vw;
    background-color: rgb(5, 158, 214);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.first button:hover{
    background-color:rgb(2, 129, 175) ;
}

.second{
    margin: 0 22vw;
}

.latest{
    display: flex;
    margin: 0 auto;
    align-items:center;
    column-gap: 15px;
}

.large{
    font-size: 18px;
    
}

.small{
    font-size: 12px;
    margin-left: 5px;
}

.grid{
    padding: 2vw 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}


.card{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding-top: 1vw;
    background-color: #f9f9f9;
}

[type='submit']{
    margin: 1vw 0;
    padding: .4vw .6vw;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: #00ac00;
    border: none;

}

.heading{
    font-weight: 700;
    font-size: 20px;
}

.card p{
    font-size: 10px;
}

nav ul li{
    display: flex;
    align-items: center;
    column-gap: 2px;
}

nav ul li svg{
    height: 16px;
    width: 16px;
}

.logo img{
    height:50px;
}

.latest img{
    height: 45px;
}

@media screen and (max-width:1200px){

    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}